html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
}

.text-center {
    text-align: center!important;
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

.bg-faded {
    background-color: #f7f7f7;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}

div {
    display: block;
}